#gear_body, #weather_body{
  padding: 20px;
}

#form_body {
  padding: 0px 20px;
}

#form_body > div {
  padding-left: 0;
}

#trail_body {
  margin-top: 20px;
}

#trail_title {
  margin-bottom: 0.4rem;
}

#trail_summary, .weather_conditions {
  font-style: italic;
  font-size: 1.2rem;
}

#new_trail {
  margin-top: 0.7rem;
}

.gear_category {
  padding: 0.5em 1em 1em 1em;
}

.gear_category h5 {
  text-transform: capitalize;
}

/* https://stackoverflow.com/questions/14326724/twitter-bootstrap-tooltip-flickers-when-placed-on-top-of-button-but-works-fine */
.tooltip {
  pointer-events: none;
}

#weather_data {
  margin-top: 0.3rem;
}