/* filter trails UI */
#filter-div {
    width: 800px;
    margin: auto;
    padding-top: 50px;
}
.popover {
    max-width: 100%;
}
#popover-slider {
    width: 490px;
}
.difficulty-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0
}
.slider {
    width: 800px;
    display: block;
    margin: auto;
}
.hidden {
    display: none;
}