
{% extends "layout.html" %}
{% block content %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

{% if logged_in %}
  <h4>My Info</h4>
  <dl class="row">
    <dd class="col-sm-4"></dd>
    <dt class="col-sm-2">Username</dt>
    <dd class="col-sm-2">{{username}}</dd>
    <dd class="col-sm-4"></dd>

    <dd class="col-sm-4"></dd>
    <dt class="col-sm-2">Date of Birth</dt>
    {% if month %}
    <dd class="col-sm-2">{{month}} {{day}}, {{year}}</dd>
    {% else %}
    <dd class="col-sm-2"></dd>
    {% endif %}
    <dd class="col-sm-4"></dd>

    <dd class="col-sm-4"></dd>
    <dt class="col-sm-2">Gender</dt>
    <dd class="col-sm-2">{{gender}}</dd>
    <dd class="col-sm-4"></dd>

    <dd class="col-sm-4"></dd>
    <dt class="col-sm-2">Height</dt>
    <dd class="col-sm-2">{{height}}</dd>
    <dd class="col-sm-4"></dd>

    <dd class="col-sm-4"></dd>
    <dt class="col-sm-2">Weight</dt>
    {% if weight %}
    <dd class="col-sm-2">{{weight}} lbs</dd>
    {% else %}
    <dd class="col-sm-2"></dd>
    {% endif %}
    <dd class="col-sm-4"></dd>

    <dd class="col-sm-4"></dd>
    <dt class="col-sm-2">Address</dt>
    <dd class="col-sm-2">
      <p>{{address}}<br>
        {% if address2 %}
        {{address2}}<br>
        {% endif %}
        {% if city %}
        {{city}}, {{state}} {{zip}}<br>
        {% endif %}
        {{country}}
      </p>
    </dd>
    <dd class="col-sm-4"></dd>

    <dd class="col-sm-4"></dd>
    <dt class="col-sm-2">Fitness Level</dt>
    <dd class="col-sm-2" data-toggle="tooltip" data-placement="right" title="Fitness level is based on the average number of hours per week you are physically active, in order to get a base level. This level is then adjusted based on your intensity when hiking and the average length of each hike.">{{user_fitness}}</dd>
    <dd class="col-sm-4"></dd>

    <dd class="col-sm-4"></dd>
    <button type="submit" onclick="window.location='/my_info'" class="btn btn-primary col-sm-1" data-toggle="tooltip" data-placement="right" title="Edit your info to get trails personalized based on your location and physical fitness level.">Edit Info</button>
    <dd class="col-sm-7"></dd>
  </dl>
  </div>
{% else %}
  <div class="card-header text-center">
    <form action="/signup">
      <h4> Create an account to save your info!</h4>
      <button type="submit" class="btn btn-primary" formaction="/signup">Create an account</button>
    </form>
  </div>
{% endif %}
{% endblock content %}