{% extends "layout.html" %} {% block content %}

<!-- FILTER TRAILS UI -->
<script src="{{ url_for('static', filename='js/filter.js') }}"></script>
<!-- FILTER TRAILS UI -->
<div id="filter-div">
  <button id="filter-button" class="btn btn-lg btn-info" data-placement="right"
        data-html="true" data-popover-content="#filter-popover" data-toggle="popover" onclick="toggleButton()">
    Filter Trails Just for You
  </button>
  <!-- Content for Popover -->
  <div class="hidden" id="filter-popover">
    <div id="popover-title">
      Choose how you want to feel from the hike (click or slide)
    </div>
    <div id="popover-content">
      <div id="popover-slider">
        <form action="/find_trails" method="POST">
          <label for="slider-range">I want a hike that...</label>
          <input id="filter-slider" type="range" class="custom-range" min="1" max="3" value="2"
          oninput="$('#filter-slider-in').html(this.value)">
          <label id="filter-slider-in" class="hidden"></label>
          <ul class="difficulty-list">
            <li>is easy and chill</li>
            <li>matches my fitness level</li>
            <li>challenges me!</li>
          </ul>
{#          <input type="button" value="Save" onclick="filterSelected()">#}
          <button type="submit" class="btn btn-small btn-info">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container pt-5">
    <div class="row">
        <div class="container">
            <div class="card bg-light text-dark border-dark">
                <div class="card-header text-center">
                    <h4>
                        Hiking Trails Within {{radius}} Miles of {{address}}
                    </h4>
                </div>
                <div>
                    <table class="table table-striped sortable">
                        <thead>
                            <tr>
                                <th scope="col">Trail</th>
                                <th scope="col">Length(mi)</th>
                                <th scope="col">Difficulty</th>
                                <th scope="col">Rating</th>
                                <th scope="col">Low(ft)</th>
                                <th scope="col">High(ft)</th>
                                <th scope="col">Location</th>
                                <th scope="col">Gear</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in trails_list %}
                            <tr data-toggle="modal" data-target="#exampleModalCenter">
                                <td><a href="{{ row[13] }}" target="_blank" title="get directions">{{ row[1] }}</a></td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[9] }}</td>
                                <td>{{ row[8] }}</td>
                                <td>{{ row[5] }}</td>
                                <td><a href="{{ row[14] }}" target="_blank">See Gear Recommendations</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {{ trails_table }} -->
{% endblock content %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>