
{% extends "layout.html" %}
{% block content %}
    <h4>Find Hiking Trails</h4>
        <div>
            <table class="table table-striped sortable">
                <thead>
                    <tr>
                        <th scope="col">Trail</th>
                        <th scope="col">Length</th>
                        <th scope="col">Difficulty</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Low Point</th>
                        <th scope="col">High Point</th>
                        <th scope="col">Location</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in trails_list %}
                    <tr data-toggle="modal" data-target={{row[0]}}>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[9] }}</td>
                        <td>{{ row[8] }}</td>
                        <td>{{ row[5] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <!-- {{ trails_table }} -->
{% endblock content %}