{% extends "layout.html" %}
{% block content %}

<!-- TOOl TIP JAVASCRIPT -->
<script src="{{ url_for('static', filename='js/tool_tip.js') }}"></script>

<!-- CSS FORMATTING -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/gear.css') }}" type="text/css"/>


<div class="container">

  {% if trail_data %}
  <div class="row">
    <div class="col-md-12">
      <div class="card flex-md-row" id="trail_body">
        <div class="card-body d-flex flex-column align-items-start">
          <h4 class="card-title" id="trail_title">{{ trail_data.name }} </h4>
          <p class="card-txt" id="trail_summary">{{ trail_data.summary }}</p>
          <p class="card-txt">Location: {{ trail_data.location }} </p>
          <p class="card-txt">Trail length: {{ trail_data.length }} miles </p>
          <p class="card-txt">Elevation gain: {{ trail_data.ascent }} feet </p>
          <p class="card-txt">Average trail grade: {{ trail_data.grade }}%</p>
          <p class="card-txt" style="margin-bottom:0px;">Estimated hiking time: {{ trail_data.hiking_time }} hours</p>
            <small class="text-muted">Assumes hiker of reasonable fitness, on typical terrain, and under normal conditions.</small>
          <small class="text-muted" id="new_trail">
            <a href="{{ url_for('find_trails') }}">Select another trail.</a>
          </small>
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="{{ trail_data.imgSmallMed }}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="flex-md-row" id="gear_body">
        <h4>Recommended Gear</h4>
        <div class="d-flex flex-wrap">

        {% if gear_data %}
          {% for category in gear_data %}
            <div class="flex-col gear_category">
                <h5>{{ category }}</h5>
                {% for gear_item in gear_data[category] %}
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="{{ gear_item }}">
                  <label class="form-check-label" for="{{ gear_item }}">{{ gear_item }} 
                    <i class="fas fa-hiking" data-toggle="tooltip" data-placement="right" 
                        title="{% for description in gear_data[category][gear_item] %}
                        {{ description }}
                        {% endfor %}"></i></label>
                </div>
                {% endfor %}
            </div>
          {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>


    <div class="col">
      <div class="flex-md-row" id="weather_body">
        <h5>Weather Conditions for <br><span class="text-info">{{ trail_data.location }}</span></h5>
        {% if weather_data %}
        <table>
          <tr>
            <td>Current temp: {{ weather_data.temperature }} &#176F</td>
          </tr>
          <tr>
            <td>Chance of rain/snow: {{ weather_data.prob_of_precip }} %</td>
          </tr>
          <tr>
            <td>Humidity: {{ weather_data.humidity }} %</td>
          </tr>
          <tr>
            <td>Wind: {{ weather_data.wind_speed }} mph </td>
          </tr>
          <tr>
            <td>Sunrise: {{ weather_data.sunrise }} </td>
          </tr>
          <tr>
            <td>Sunset: {{ weather_data.sunset }}</td>
          </tr>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-md-12">
      <div class="card flex-md-row" id="trail_body">
        <div class="card-body d-flex flex-column align-items-start">
          <h5> There was an error finding information for that trail. Please try again.</h5>
          <a href="{{ url_for('find_trails') }}">Select another trail.</a>
        </div>    
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}