{% extends "layout.html" %}
{% block content %}

<!-- TOOl TIP JAVASCRIPT -->
<script src="{{ url_for('static', filename='js/tool_tip.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/index.js') }}"></script> -->

<!-- CSS FORMATTING -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css"/>


<!-- MAIN HOME PAGE TITLE AND BUTTONS -->
<div class="container" id="main_container">
  
  <div class="app_name">
    <h1>Hiking Trails For You</h1>
  </div>
  <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-dark main_button" role="button" href="{{ url_for('signin') }}"> 
          <span>Sign In / Sign Up</span> </a>
        <a class="btn btn-dark main_button" role="button" href="{{ url_for('find_trails') }}"> 
          <span>Find a Hiking Trail</span> </a>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <!-- https://getbootstrap.com/docs/4.0/components/modal/ -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#flow_chart_modal" id="first_time_here">
      <span>First time here? Find out how it works.</span>
    </button>
  </div>
</div>


<!-- MODAL FOR "HOW IT WORKS" FLOWCHART -->
<div class="modal fade" id="flow_chart_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" id="flow_chart_container">
          <!-- HOW IT WORKS FLOW CHART -->
          <div class="row justify-content-center">
            <h4>How it works.</h4>
          </div>
          <div class="row justify-content-center">
            <div class="flow-chart">
              <div class="item item-a set_fade_in">
                <h5>Would you like personalized trail recommendations?</h5>
              </div>
              <div class="horizontal-line set_fade_in"></div>
              <div class="item no set_fade_in"> <h5>NO</h5></div>
              <div class="vertical-line set_fade_in"></div>
              <div class="item item-b set_fade_in fade2">
                <div id="account">
                  <h5><a href="{{ url_for('signin') }}">Create an account.</a></h5>
                  <h5><a href="{{ url_for('my_info') }}">Fill out fitness survey.</a></h5>
                </div>
              </div>
              <div class="item yes set_fade_in"> <h5>YES</h5></div>
              <div class="vertical-line2 set_fade_in"></div>
              <div class="vertical-line3 set_fade_in"></div>
              <div class="vertical-line4 set_fade_in"></div>
              <div class="item down-arrow2 set_fade_in">
                <!-- down caret -->
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-fill down-arrow-pos2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
              </div>
              <div class="item down-arrow3 set_fade_in">
                <!-- down caret -->
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-down-fill down-arrow-pos" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
              </div>
              <div class="horizontal-line2 set_fade_in fade2"></div>
              <div class="item right-arrow2 set_fade_in fade2">
                <!-- right caret -->
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-right-fill right-arrow-pos" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
              </div>
              <div class="item item-c set_fade_in fade3">
                <h5><a href="{{ url_for('find_trails') }}">Find a Hiking Trail</a></h5>
                <p>You have several options here including:</p>
                <ul>
                  <li>Find trail by location</li>
                  <li>Customize your trail search</li>
                  <li>Filter trails "Just for You" - this will find trails that match your fitness level</li>
                </ul>
                <p>You can also navigate to:</p>
                <ul>
                  <li>Map</li>
                  <li>Get hiking gear recommendations</li>
                </ul>
              </div>
              <div class="horizontal-line3 set_fade_in fade3"></div>
              <div class="item right-arrow3 set_fade_in fade3">
                <!-- right caret -->
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-right-fill right-arrow-pos" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
              </div>
              <div class="item item-d set_fade_in fade4">
                <h5 data-toggle="tooltip" data-placement="top" title="Find a hiking trail first, then we'll map your route.">Map</h5>    
                <p>Get directions from your chosen starting location to the trail.</p>
              </div>
              <div class="horizontal-line4 set_fade_in fade3"></div>
              <div class="item right-arrow4 set_fade_in fade3">
                <!-- right caret -->
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-right-fill right-arrow-pos" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
              </div>
              <div class="item item-e set_fade_in fade4">
                <h5 data-toggle="tooltip" data-placement="top" title="Find a hiking trail first, then select gear button next to trail." >Hiking Gear</h5>
                <p>We'll suggest gear specific to your selected trail and trail weather conditions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endblock content %}
