<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit=no>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/452079d2c6.js" crossorigin="anonymous"></script>
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  {% if title %}
    <title>Hiking Trails - {{ title }}</title>
  {% else %}
    <title>Hiking Trails for You</title>
  {% endif %}
</head>
<body>
  <div class="nav-container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><i class="fas fa-hiking"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {% if active.index %}active{% endif %}" href="/">Home</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active.find_trails %}active{% endif %}" href="/find_trails">Find Hiking Trails</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active.fitness_values %}active{% endif %}" href="/fitness_values">Get Fitness Level</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if current_user.is_anonymous %}
        {% else %}
        <li class="nav-item">
          <span class="nav-link" style="color: lightseagreen;">Hi, {{ current_user.username }}!</span>
        </li>
         {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if active.my_info %}active{% endif %}" href="/display_info">My Info</a>
        </li>
        <li class="nav-item">
          {% if current_user.is_anonymous %}
          <a class="nav-link {% if active.signin %}active{% endif %}" href="/signin">Sign In</a>
          {% else %}
          <a class="nav-link {% if active.signin %}active{% endif %}" href="{{ url_for('signout') }}">Sign Out</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  </div>

    {% block content %}{% endblock %}



    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>