{% extends "layout.html" %}
{% block content %}
<script
    src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&callback=initMap&libraries=&v=weekly"
    defer>
</script>
<script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script>
    function initMap() {
        const location = {lat: 47.60621, lng: -122.3321};
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 8,
            center: location,
        });
        setMarkers(map);
    }
    let LOCATIONS = {{ location_list | safe }};
    function setMarkers(map) {
        const icons = {
            red: { icon: "http://maps.google.com/mapfiles/kml/paddle/red-circle.png", },
            yellow: { icon: "http://maps.google.com/mapfiles/kml/paddle/ylw-circle.png", },
            green: { icon: "http://maps.google.com/mapfiles/kml/paddle/grn-circle.png", },
        };
        for (let i = 0; i < LOCATIONS.length; i++) {
            let trail = LOCATIONS[i];
            let infoWindow = new google.maps.InfoWindow({
                content: `<h6>${trail[0]}</h6><div><p>${trail[3]}</p></div>`,
                maxWidth: 200,
            });
            let marker = new google.maps.Marker({
                position: { lat: parseFloat(trail[1]), lng: parseFloat(trail[2]) },
                map,
                // icon: icons['red'].icon,
                title: trail[0],
            });
            marker.addListener("click", () => {
                infoWindow.open(map, marker);
            });
        }
    }
    function filterSelected() {
        // filter list with selected difficulty
        let val = document.getElementById("filter-slider").value;
        {#alert(val);#}
    }
    function toggleButton() {
        let filterBtnText = $("#filter-button").text();
        if (filterBtnText !== "Disable Filter") {
            $("#filter-button").html("Disable Filter");
        } else {
            $("#filter-button").html("Filter Trails Just for You");
            // Disable filter
        }
    }
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    $(function () {
        $("[data-toggle=popover]").popover({
            html: true,
            sanitize: false,
            container: "#filter-div",
            title: function() {
                return $("#popover-title").html();
                },
            content: function() {
                return $("#popover-content").html();
            }
        });
    });
</script>
<style type="text/css">
  .map-list-pane {
      height: 450px;
      width: 800px;
      border: 2px solid gray;
      display: block;
      margin: auto;
  }
  #map {
      height: 400px;
      width: 100%;
  }
  /* scrollable table with fixed header */
  table { min-width: 798px; }
  thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  tbody {
    display: block;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* filter trails UI */
  #filter-div {
      width: 800px;
      margin: auto;
      padding-top: 50px;
  }
  .popover {
      max-width: 100%;
  }
  #popover-slider {
      width: 490px;
  }
  .difficulty-list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0
  }
  .slider {
      width: 800px;
      display: block;
      margin: auto;
  }
  .hidden {
      display: none;
  }
</style>
<h4>Match Me With A Trail</h4>
<div class="map-list-pane">
  <nav>
    <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="map-view-tab" data-toggle="tab" href="#map-view" role="tab" aria-controls="map-view" aria-selected="true">Map View</a>
      <a class="nav-item nav-link" id="list-view-tab" data-toggle="tab" href="#list-view" role="tab" aria-controls="list-view" aria-selected="false">List View</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane show active" id="map-view" role="tabpanel" aria-labelledby="map-view-tab">
      <div id="map"></div>
    </div>
    <div class="tab-pane" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
      <table class="table table-striped sortable">
        <thead>
        <tr>
          <th scope="col">Trail</th>
          <th scope="col">Difficulty</th>
          <th scope="col">Length</th>
          <th scope="col">Location</th>
        </tr>
        </thead>
        <tbody>
        {% for r in filtered_trails %}
        <tr>
          <td>{{ r[0] }}</td>
          <td>{{ r[1] }}</td>
          <td>{{ r[2] }}</td>
          <td>{{ r[3] }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- FILTER TRAILS UI -->
<div id="filter-div">
  <button id="filter-button" class="btn btn-lg btn-info" data-placement="right"
        data-html="true" data-popover-content="#filter-popover" data-toggle="popover" onclick="toggleButton()">
    Filter Trails Just for You
  </button>
<!-- Content for Popover -->
  <div class="hidden" id="filter-popover">
    <div id="popover-title">
      Choose how you want to feel from the hike (click or slide)
    </div>
    <div id="popover-content">
      <div id="popover-slider">
        <label for="slider-range">I want a hike that...</label>
        <input id="filter-slider" type="range" class="custom-range" min="0" max="2" onclick="filterSelected()">
        <ul class="difficulty-list">
          <li>is easy and chill</li>
          <li>matches my fitness level</li>
          <li>challenges me!</li>
        </ul>
        <input type="button" value="Save">
      </div>
    </div>
  </div>
</div>
{#<div class="slider">#}
{#  <label for="slider-range">Difficulty</label>#}
{#  <input type="range" class="custom-range" min="0" max="3" id="slider-range" onclick="filterSelected()">#}
{#  <ul class="difficulty-list">#}
{#    <li>Easy and chill</li>#}
{#    <li>TODO</li>#}
{#    <li>Match my fitness level</li>#}
{#    <li>Challenge me!</li>#}
{#  </ul>#}
{#</div>#}

{% endblock content %}